.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}


.tab{
    -fx-background-insets: 0 0 0 0,0,0;
}

.tab-pane .tab
{
    -fx-background-color: #e6e6e6;
}
.tab-pane .tab:hover
{
    -fx-background-color: #bf8040;
}
.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #663300;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
    -fx-padding: 10 20 10 20;
}

.tab-pane .tab:selected
{
    -fx-background-color: #3c3c3c;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #96b946;
    -fx-font-family: "Arial";
    -fx-padding: 10 20 10 20;
}
.tab-pane:top *.tab-header-area {
    -fx-background-insets: 1, 0 0 1 0;
}

.tab-pane:bottom *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overriden as 5 2 0 0 */
}

.tab-pane:right *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overriden as 5 2 0 0 */
}
.tab-pane:left *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
 /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overriden as 5 2 0 0 */
}
.play-pause-button{
    -fx-background-radius: 10;
    -fx-background-color: #3399ff;
    -fx-border-color: #000000;
    -fx-border-width: 2;
    -fx-border-radius: 10;
}
.play-pause-button-2{
    -fx-background-radius: 10;
    -fx-background-color: #ffff33;
    -fx-border-color: #000000;
    -fx-border-width: 2;
    -fx-border-radius: 10;
}

.stop-button{
    -fx-background-image: url("stop.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-radius: 10;
    -fx-background-size: 30 30;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-border-radius: 10;
}
.stop-button:hover{
    -fx-background-image: url("stop.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-radius: 10;
    -fx-background-size: 30 30;
    -fx-border-color: #000000;
    -fx-border-width: 0;
    -fx-border-radius: 10;
}

.restart-button{
    -fx-background-image: url("restart.png");
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    -fx-background-radius: 10;
    -fx-background-size: 30 30;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-border-radius: 10;
}
.restart-button:hover{
    -fx-background-image: url("restart.png");
    -fx-background-position: center center;
-fx-background-repeat: stretch;
    -fx-background-radius: 10;
    -fx-background-size: 30 30;
    -fx-border-color: #000000;
    -fx-border-width: 0;
    -fx-border-radius: 10;
}
.HeadLine{
    -fx-background-color:  #ff99dd;
}
.no{
    -fx-background-color: #61e89b;
    -fx-background-radius: 5;
    -fx-border-color: #000000;
    -fx-border-radius: 5;
    -fx-alignment: CENTER;
    -fx-font-family: Arial;
    -fx-color: #ffffff;
    -fx-font-size: 10px;
    -fx-padding: 10px 20px 10px 20px;
}
.result{
    -fx-background-color: #61e89b;
    -fx-background-radius: 5;
    -fx-border-color: #000000;
    -fx-border-radius: 5;
    -fx-alignment: CENTER;
    -fx-font-family: Arial;
    -fx-color: #ffffff;
    -fx-font-size: 20px;
    -fx-padding: 10px 20px 10px 20px;
}
.result:hover{
    -fx-font-size: 25px;
    -fx-padding: 10px 20px 10px 20px;
}

.download{
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 15px;
    -fx-padding: 10 20 10 20;
}
.download:hover{
    -fx-background-color: 
        #090a0c,
        linear-gradient(#191d22 100%, #1f2429 20%, #38424b 0%),
        linear-gradient(#191d22, #20262b),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 20px;
    -fx-padding: 10 20 10 20;
}
.vbox{
   -fx-background-color:  #b3e6ff;
}
.random-button{
    -fx-background-radius: 10;
}
